target/
classes/
checkouts/
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
.lein-*
.nrepl-port
.prepl-port
.hgignore
.hg/
.clj-condo/
.calva/
.lsp/
.clj-kondo/
.cpcache/
**/.DS_Store
sandbox
ludus.sublime-workspace
ludus
!src/ludus
out/
node_modules/
.shadow-cljs
.cljs_node_repl/
.helix/
