{:deps
 {org.clojure/clojurescript {:mvn/version "1.11.121"}
  thheller/shadow-cljs {:mvn/version "2.26.0"}
  babashka/fs {:mvn/version "0.4.19"}
 }

 :aliases
 {:main
  {:exec-fn ludus.core/main!}
  :repl
  {:exec-fn clojure.core.server/start-server
   :exec-args {:name "repl"
               :port 5555
               :accept clojure.core.server/repl
               :server-daemon false}}}}