{
	:deps {org.clojure/clojurescript {:mvn/version "1.11.121"}}

	:aliases 
	{:repl
  {:exec-fn clojure.core.server/start-server
   :exec-args {:name "repl"
               :port 5555
               :accept clojure.core.server/repl
               :server-daemon false}}}
}