;; shadow-cljs configuration
{:deps true

	:dev-http {8234 "target"}

 :builds
 {:node {:target :node-library
        :output-to "target/js/ludus.js"
      		:exports {:run ludus.node/run}
     			:modules {:main {:entries [ludus.node]}}}
		:browser {:target :browser
          		:output-dir "target/js"
        				:asset-path "target"
      						:modules {:main {:init-fn ludus.web/init}}}}}
